@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.container {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.main, .main-home {
    height: 75vh;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    z-index: 1;
    overflow: hidden;
}
.main {
    height: 50vh;
}

#header-img {
    position: fixed;
    left: 0;
    top: -35%;
    width: 100vw;
    z-index: -2;
}

/* Doesn't work on IE or Edge */
.main-home video {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
}

#gallery-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: -2;
}

#logo {
    width: 100px;
    height: auto;
    float: left;
    margin-top: 20px;
}

nav ul {
    float: right;
    margin-top: 40px;
}
nav li {
    display: inline;
    padding-left: 0;
    padding-right: 60px;
    font-size: 20px;
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: #fff;
}
nav li a:hover {
    color: #e6b201;
}
.mobile-nav .links {
    display: none;
}

#tagline {
    position: absolute;
    top: 32%;
    left: 18%;
    font-weight: 400;
    font-size: 34px;
}
#second-tagline {
    position: absolute;
    top: 38%;
    left: 28vw;
    padding-left: 400px;
    font-weight: 700;
    color: #e6b201;
    font-size: 40px;
}

.services {
    min-height: 70vh;
    width: 100%;
    background-color: #fff;
}
.service {
    text-align: center;
    margin-top: 50px;
}
.service p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.service h2 {
    color: #000;
    transition: color 1s;
    -webkit-transition: color 1s;
}
.yellow {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6b201;
    border-radius: 50%;
    border: 4px solid #e6b201;
    transition: background-color 1s, width 1s, height 1s;
    -webkit-transition: background-color 1s, width 1s, height 1s;
}
.yellow img {
    width: 100%;
    background-color: #facd5b;
    border-radius: 50%;
    margin: auto;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
}

.services a {
    text-decoration: none;
}

#offer {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #e6b201;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    font-size: 20px;
    transition: background-color 1s, color 1s, box-shadow 1s;
    -webkit-transition: background-color 1s, color 1s, box-shadow 1s;
}

#offer:hover {
    background-color: #000;
    color: #fff;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}

.book {
    position: relative;
    min-height: 60vh;
    height: auto;
    width: 100%;
    background-color: #e6b201;
    padding-top: 30px;
    padding-bottom: 50px;
    z-index: 1;
}

.book h1 {
    margin: 0;
    padding-top: 50px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.book img {
    width: 100%;
    border: 6px solid #fff;
}
.book p {
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.about {
    padding-top: 25px;
    padding-bottom: 25px;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}
.about-img {
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 25px;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}
.divider {
    border-bottom: 2px solid #fff;
    display: block;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}
#bookbutton {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    transition: background-color 1s, color 1s;
    -webkit-transition: background-color 1s, color 1s;
}

#bookbutton:hover {
    background-color: #000;
    color: #fff;
}

.footer {
    min-height: 250px;
    background-color: #333;
    color: #bfbfbf;
}
.footer ul {
    list-style-type: none;
    padding-left: 0;
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}
.footer li {
    text-align: left;
}
.footer img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.footer a {
    color: #bfbfbf;
    text-decoration: none;
}
.footer .business {
    border-top: 1px solid #bfbfbf;
}
.footer .business .credit {
    text-align: right;
    text-decoration: underline;
}
.footer .business h4 {
    margin-bottom: 5px;
    margin-top: 15px;
}
.footer .social li{
    font-size: 20px;
}
#tag {
    display: block;
    margin-top: 10px;
}

.services-page, .booking-page {
    min-height: 50vh;
    background-color: #fff;
}

.page-title {
    font-size: 45px;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    font-weight: 400;
}
.exit {
    display: none;
}
.hamburger {
    display: none;
}
#social {
    padding-right: 20px;
    font-size: 24px;
}
.booking-page h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
}
form {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
form h3 {
    display: block;
    text-align: left;
    font-weight: 500;
}
input, textarea{
    display: block;
    font-size: 18px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-bottom: 25px;
}
input[type="text"], input[type="number"], input[type="email"], input[type="tel"] {
    height: 35px;
    padding-left: 10px;
}
#nameInput, #emailInput{
    width: 48%;
    float: left;
}
#companyInput, #telInput {
    width: 48%;
    float: right;
}
.eventChoice {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
    padding: 0;
}
.personalInfo {
    padding: 0;
}
input[type="radio"] {
    text-align: center;
    display: inline-block;
    margin-right: 3vw;
}
input:focus {
    border-bottom: 1px solid #000;
}
#eventInput, #eventDate {
    width: 30%;
    margin-right: 2%;
    float: left;
}
#eventLocation {
    width: 30%;
    float: left;
}
.eventDetails {
    display: block;
    padding: 0;
}
textarea {
    height: 250px;
    width: 99%;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    padding: 0;
}
button {
    margin: 0 auto;
}
.submit {
    width: 50%;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 30px;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    border: 0;
}
.submit:hover {
    background-color: #e6b201;
}
.thankYou {
    display: block;
    text-align: center;
    width: 50%;
    margin: 75px auto;
    border-bottom: 1px solid #e6b201;
}
.thankYou h1 {
    font-weight: 500;
}
.pictures img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.services-page h1 {
    padding-bottom: 15px;
    font-weight: 400;
}
.package {
    min-height: 300px;
    border-bottom: 1px solid #000;
}
.package img {
    width: 150px;
    height: auto;
    background-color: #e6b201;
    border-radius: 50%;
    margin-left: 100px;
    box-shadow: 5px 10px 30px -10px black;
    transition: background-color 1s, width 1s, height 1s;
    -webkit-transition: background-color 1s, width 1s, height 1s;
}
.package ul {
    list-style-type: circle;
    display: inline-block;
    margin-left: 50px;
}
.package h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.package li {
    font-size: 17px;
}
.package h1 {
    font-weight: 700;
    color: #000;
    transition: color 1s, font-size 24px;
    -webkit-transition: color 1s, font-size 24px;
}
.tagline-secondary {
    font-weight: 400;
    color: #000;
}
.add-on .inner {
    text-align: center;
    background-color: #e2e2e2;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 75%;
    margin-bottom: 50px;
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}
.add-on img {
    width: 75%;
    background-color: #000;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
#rightPackage {
    text-align: center;
}
.services-page #bookbutton {
    margin-top: 25px;
    margin-bottom: 50px;
    box-shadow: none;
    color: #fff;
    background-color: #e6b201;
}
.services-page #bookbutton:hover {
    background-color: #000;
}
.gallery {
    min-height: 100vh;
    height: auto;
}
.gallery img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}
.gallery img:hover {
    opacity: 0.7;
}
.gallery-container {
    height: auto;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 80%;
    max-width: 700px;
    opacity: 1;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1509px) {
    #tagline {
        left: 15vw;
    }
    #second-tagline {
        left: 20vw;
    }
}


@media only screen and (max-width: 1317px) {
    .container {
        width: 80%;
    }
    #header-img {
        top: 0%;
    }
    #bookbutton {
        width: 100%;
    }
    #tagline {
        top: 40%;
        left: 10vw;
    }
    #second-tagline {
        top: 48%;
        font-size: 34px;
        left: 0;
    }
    .package img {
        margin-left: 50px;
    }
    #nameInput, #companyInput, #emailInput, #telInput, #eventInput, #eventDate, #eventLocation {
        width: 100%;
        margin-right: 0;
        float: none;
        display: block;
    }
    .eventChoice input{
        float: none;
        display: block;
        text-align: left;
        margin-right: 0;
    }
    .eventChoice {
        text-align: left;
        margin-bottom: 20px;
    }
    form {
        width: 100%;
    }
    input[type="text"], input[type="number"], input[type="email"], input[type="tel"] {
        padding-left: 0;
    }
}

@media only screen and (max-width: 850px) {
    .main-home {
        height: 100vh;
    }
    .container {
        width: 80vw;
    }
    nav ul {
        display: none;
    }
    .mobile-nav {
        display: block;
        float: right;
    }
    .hamburger {
        display: block;
        padding: 50px 10px;
        font-size: 30px;
    }
    #tagline {
        left: 3vw;
        top: 65%;
    }
    #second-tagline {
        left: 3vw;
        top: 80%;
        padding: 0;
    }
    .mobile-nav.links {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 2;
    }
    .mobile-nav .links a {
        display: block;
        width: 100vw;
        padding: 15px 0;
        background-color: #333;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 22px;
    }
    .mobile-nav .links img {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .exit {
        float: right;
        right: 7vh;
        top: 7vh;
        font-size: 30px;
        position: absolute;
        padding: 15px;
        z-index: 3;
    }
    .services {
        padding-left: 0;
    }
    .form {
        padding-left: 10px;
    }
    #offer {
        width: 100%;
    }
    .modal-content {
        width: 100%;
    }
    .add-on-packages {
        padding-left: 10px;
    }
    .package {
        padding-left: 10px;
    }
    .package ul {
        padding-left: 10px;
    }
    .footer {
        padding-left: 0;
    }
    .footer .col-1-4 {
        border-bottom: 1px solid #bfbfbf;
    }
    .about {
        padding-right: 0;
    }
    .footer img {
        margin-bottom: 35px;
    }
    .footer .social {
        margin-bottom: 25px;
    }
    .footer .business {
        border-top: 0;
        margin-bottom: 0;
    }
    .footer .business h4 {
        font-size: 12px;
        margin-bottom: 0;
        padding-bottom: 10px;
        text-align: center;
    }
    .credit {
        float: none;
        display: block;
    }
    .package ul {
        margin: 0 20px;
    }
}
